# macOS build and config files
build/
.DS_Store

# Windows build folders
CMakeFiles/
CMakeCache.txt
data
socket.io-client-cpphttps://github.com/InsansaTechnoledge/ai-proctor-engine.git

# CLion or VSCode settings
.vscode/
.idea/

# Compiled binaries
*.exe
*.out
*.o
*.obj
*.log